* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    width: 150px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 18px 35px;
    border: 0px;
    font-size: 20px;
    line-height: 27px;
}

/* header & nav style */
.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 51px 230px 51px 375px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 51px;

}

/* banner style */
.banner {
    margin: 0px 230px 0px 375px;
    display: flex;
    align-items: center;
}

.first-btitle {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}

.second-btitle {
    font-weight: 700;
    font-size: 75px;
    color: #181818;
    margin-bottom: 20px;
}

.pragraph {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.btn-primaryone {
    width: 200px;
    height: 64px;
    left: 230px;
    top: 589px;
    background: #FD6E0A;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.btn-primarytwo {
    border-radius: 5px;
    text-align: center;
    color: #FD6E0A;
    background-color: #FFFFFF;
    border: 1px solid #FD6E0A;
    padding: 18px 24px;
    width: 160px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    margin-left: 30px;
}

/* about */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 131px 156px;
    text-align: center;
}

.about-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}

.about-des {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    margin-top: 30px;
}

.about-info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;

}

.about-info-des {
    font-weight: 700;
    font-size: 20px;
    color: #474747;

}

/* what style */
.what {
    text-align: center;
    margin-top: 130px;
}

.what-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;

}

.what-des {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin: 30px 0 50px 0;

}

.skill-con {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 0 30px 30px 30px;
    text-align: left;

}

.skill-img {
    margin: 30px 0;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-des {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;

}

/* resume part */
.Resume {
    margin-top: 130px;
}

.Resume-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #181818;

}

.Resume-con {
    margin-top: 113px;
    display: flex;
    gap: 30px;
}

.Resume-subtitle {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}

.Resume-item {
    margin-top: 30px;
}

.Resume-item-one {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}

.Resume-item-two {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;

}

.Resume-item-three {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;


}

.line {
    border: 1px solid #D1D1D1;
    width: 558px;
}

.Resume-btn {
    text-align: center;
    margin: 30px 0 113px 0;


}

.Resume-btn-primary {
    width: 200px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

/* footer part */

.contact {
    display: flex;
    gap: 117px;
    text-align: left;
    padding: 130px 230px;
    background: #FFF8F3;

}

.Connect h3 {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}

.Connect p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin: 20px 0 30px 0;
}

.Message h3 {
    font-weight: 700;
    font-size: 35px;
    color: #181818;

}

.Message input {
    margin: 24px;
}

.Message textarea {
    width: 300px;
    height: 180px;
    margin-left: 26px;
}

.m-box {
    width: 300px;
    height: 64px;
    border: 0;
}
.submit{
    width: 150px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 18px 35px;
    border: 0px;
    font-size: 20px;
}
.Connect-img{
    margin-right: 24px;
}